<div class="mx-auto w-[calc(100vw-15px)] px-8 my-4">
  <h1 class="font-bold text-4xl text-center"><%= t('links.clothings.editing') %></h1>

  <%= render "form", clothing: @clothing %>

  <%= link_to t('links.clothings.show'), @clothing, class: "ml-2 rounded-lg py-3 px-5 bg-zinc-700 text-slate-100 inline-block font-medium" %>
  <%= link_to t('links.clothings.back'), clothings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  
</div>
