<header class="flex flex-col items-center justify-center bg-kashima-gray m-0 p-0">
    <div><%= image_tag 'Logo-kashima', size: "100x100"%></div>
    <div class="flex flex-row justify-around w-96 mb-3">
        <p><%= link_to "Compre agora", "#" %></p>
        <p><%= link_to "Contato", "#" %></p>
        <p><%= link_to "Informações", "#" %></p>
    </div>
</header>
